@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --sm-navbarHeight: 3rem;
  --radius: 10px;
  --lg-navbarHeight: 4rem;
  --sm-sidebarHeight: calc(100dvh - var(--sm-navbarHeight));
  --lg-sidebarHeight: calc(100dvh - var(--lg-navbarHeight));
  --clr-primary: #fcb53b;
  --clr-activeLink: #c97e00;
  --clr-font: #001433;
  --clr-primary-light: #1b64f1;
  --clr-primary-dark: #1b64f1;
  --all-pages-spacing: 1.5rem;
  --all-pages-spacing-small: 1rem;
  --tw-enter-translate-x: -5%;
}

/* $ ======================== Dark Mode Styles as per user preference ====================== */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --chart-text: #364153;
}

.dark {
  --chart-text: #f9fafb;
}

*,
*::before,
*::after {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
