@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --sm-navbarHeight: 3rem;
  --radius: 10px;
  --lg-navbarHeight: 4rem;
  --sm-sidebarHeight: calc(100dvh - var(--sm-navbarHeight));
  --lg-sidebarHeight: calc(100dvh - var(--lg-navbarHeight));
  --clr-primary: #fcb53b;
  --clr-activeLink: #c97e00;
  --clr-font: #001433;
  --clr-primary-light: #1b64f1;
  --clr-primary-dark: #1b64f1;
  --all-pages-spacing: 1.5rem;
  --all-pages-spacing-small: 1rem;
  --tw-enter-translate-x: -5%;

  --chart-text: #364153;
  --chevron: #fcb53b;
  --size-5: 1.5rem;
  --font-size: 1rem;
}

/* $ ======================== Dark Mode Styles as per user preference ====================== */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.dark {
  --chart-text: #f9fafb;
  --chevron: #fcb53b;
}

.resizer {
  position: "absolute";
  opacity: 0;
  top: 0;
  right: 0;
  height: "100%";
  width: "5px";
  background-color: "#27bbff";
  cursor: "col-resize";
  border-radius: "6px";
}

.isResizing {
  border: "3px solid rgb(0,0,255)";
  opacity: 1;
  /* *:hover: cursor-pointer; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Manage the toast styles */
.toaster [data-title] {
  font-size: var(--font-size) !important;
  font-weight: 400;
}

.toaster [data-description] {
  font-size: calc(var(--font-size) * 0.85) !important;
  opacity: 0.9;
}

.toaster [data-icon] svg {
  width: calc(var(--font-size) * 1.5) !important;
  height: calc(var(--font-size) * 1.5) !important;
  padding-right: 0.25rem;
}
